<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='provider')">

    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>学校管理页面 >> 信息查看</span>
        </div>
        <div class="providerView">
            <p><strong>学校编码：</strong><span th:text="${providerInfo.providerCode}">PRO-CODE—001</span></p>
            <p><strong>学校名称：</strong><span th:text="${providerInfo.providerName}">测试供应商001</span></p>
            <p><strong>所在地区：</strong><span th:text="${providerInfo.providerDistrict+','}+${providerInfo.providerCity}">测试供应商001</span></p>
            <p><strong>联系人：</strong><span th:text="${providerInfo.people}">韩露</span></p>
            <p><strong>联系电话：</strong><span th:text="${providerInfo.phone}">15918230478</span></p>
            <p><strong>联系地址：</strong><span th:text="${providerInfo.address}">15918230478</span></p>
            <p><strong>传真：</strong><span th:text="${providerInfo.fax}">15918230478</span></p>
            <p><strong>描述：</strong><span th:text="${providerInfo.describe}">描述</span></p>
            <p><strong>创建时间：</strong><span th:text="${#dates.format(providerInfo.createDate,'yyyy-MM-dd')}">测试供应商001</span></p>

            <a onclick="history.back(-1)" href="#">返回</a>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #public_footer"></footer>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>