<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="school/main/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="school/main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="school/main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="school/main/public :: #public_left(activeUri='course')">
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>教师管理页面 >> 教师信息修改页面</span>
        </div>
        <div class="providerAdd">
            <form id="updateForm" th:action="@{/course_update}" method="post">
                <input type="hidden" name="_method" value="put">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div>
                    <label for="courseName">课程名称：</label>
                    <input type="text" name="courseName" id="courseName"  th:value="${courseInfo.courseName}" required/>
                    <input type="hidden" name="courseId" th:value="${courseInfo.courseId}">
                    <span >*</span>
                </div>
                <div>
                    <label for="teacherName">授课教师：</label>
                    <select style="width: 128px" id="teacherName" name="teacherName" required>
                        <option th:text="${courseInfo.teacherName}"> -- 请选择 -- </option>
                        <option th:each="teacher : ${teacherName}" th:value="${teacher.realName}" th:text="${teacher.realName}+'('+${teacher.specialty}+')'"></option>
                    </select>
<!--                    <input type="text" name="teacherName" id="teacherName"  th:value="${courseInfo.teacherName}" required/>-->
                    <span >*</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="submit" value="保存"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer" th:replace="school/main/public :: #public_footer"></footer>
<!--
	<script src="js/time.js"></script>
	-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
</body>
</html>